@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');

$price-color: #000000;
$anchor-main-hover-color: rgb(255, 201, 71);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.lock-scroll {
  overflow: hidden;
}

body {
  background-color: rgba(235, 237, 240, 0.856);
  font-size: 18px;
  font-family: 'Lato', sans-serif;
}

#header-nav-wrapper {
  background-color: #ffffff;
  border-bottom: 1px solid rgba(22, 22, 22, 0.459);
}

.main-container {
  margin-top: 0;
  padding-top: 0;
  min-height: 100vh;
}

.page-header {
  font-size: 32px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 600;
}

a {
  color: #284a26;
}

a:hover {
  color: #284a26;
}

@media only screen and (max-width: 575px) {
  .page-header {
    font-size: 16px;
  }
}

/* Header + Nav */
.main-header {
  height: 68px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a:link,
  a:visited,
  a:hover,
  a:active {
    text-decoration: none;
    color: black;
  }

  h1 {
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    font-size: 46px;
    color: #3e2723;
    // text-decoration: underline;
    // outline-color: black;
    // letter-spacing: 1px;
    padding: 5px 10px;
    margin-bottom: 0;
  }
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;

  input {
    margin-right: 0px;
    padding: 2px;
    padding-left: 8px;
    width: 500px;
    max-width: 500px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.24);
    border-right: none;
  }

  #search-input {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  #search-input:focus {
    outline: none;
  }

  .search-btn {
    width: 50px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.281);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #dbdee2;
  }
}

.user-actions {
  display: flex;
  justify-content: center;
  align-items: center;

  #sell-btn {
    margin-left: 16px;
    width: 60px;
    height: 40px;
    background-color: #3e2723;
    border: 1px solid #16161675;
    border-radius: 5px;
    color: #ececec;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .account-menu {
    .account {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 126px;
      height: 68px;
      position: relative;

      .account-control {
        color: black;

        #account-btn {
          width: 36px;
          height: 36px;
        }
      }

      .account-control:hover {
        cursor: pointer;
      }

      a {
        display: flex;
        justify-content: flex-start;
      }

      .menu {
        z-index: 1;
        position: absolute;
        top: 68px;
        right: 0;
        padding: 20px;
        background-color: rgb(255, 255, 255);
        border: 1px solid rgba(0, 0, 0, 0.308);
        box-shadow: 0 2px 5px 0 rgba(32, 31, 31, 0.671);
        border-radius: 5px;
        width: 250px;
        transition: 0.1s;
        visibility: hidden;
        opacity: 0;

        ul {
          height: 100%;
          padding: 0;
          margin: 0;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;

          li {
            width: 100%;
            list-style: none;
            border-bottom: 1px solid rgba(73, 72, 72, 0.199);

            a {
              font-size: 16px;
            }
          }

          li:last-child {
            border-bottom: none;
          }

          li:hover {
            background-color: rgba(201, 194, 194, 0.144);
          }
        }

        hr {
          margin: 8px;
        }

        #logout-btn {
          height: 30px;
          background-color: #544b2b;
          border: 1px solid rgba(0, 0, 0, 0.514);
          border-radius: 1%;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          margin-top: 10px;
          padding: 2px;

          span {
            font-size: 16px;
            color: white;
          }

          svg {
            margin-left: 7px;
            color: white;
          }
        }
      }

      .menu.show {
        visibility: visible;
        opacity: 1;
      }
    }

    a {
      text-decoration: none;
    }

    a:link,
    a:visited {
      color: black;
    }

    .account-info {
      display: flex;
      justify-content: center;
      flex-direction: column;
      font-size: 11px;
      margin: 0 6px;

      p {
        max-width: 80px;
        margin: 0;
        overflow: hidden;
      }
    }
  }
}

.nav {
  // margin-top: 5px;
  justify-content: space-around;
  background-color: rgba(219, 222, 226, 0.651);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;

  .nav-link {
    font-weight: 600;
    font-size: 14px;
  }

  .nav-link:visited,
  .nav-link:link {
    color: #3e2723;
  }

  .nav-link:hover,
  .nav-link:active {
    text-decoration: underline;
  }
}

#menu-mobile-btn {
  display: none;
  z-index: 1;
  transition: color 1s;
}

.menu-mobile {
  z-index: 2;
  display: none;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s;

  #menu-mobile-main {
    position: absolute;
    z-index: 1;
    width: calc(100% - 95px);
    height: 100%;
    background-color: rgb(255, 255, 255);
    transition: transform 0.2s;
    transform: translate(-100%);

    a {
      text-decoration: none;
    }

    ul {
      width: 80%;
      margin: 0 auto;
      margin-top: 72px;
      height: 200px;
      padding: 0;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      li {
        width: 150px;
        list-style: none;
        margin-bottom: 6px;

        a {
          font-size: 20px;
          text-decoration: none;
        }
      }

      li:hover {
        background-color: rgba(201, 194, 194, 0.144);
      }
    }

    #sell-btn-mobile,
    #logout-btn {
      height: 40px;
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      padding: 2px;
    }

    #sell-btn-mobile {
      background-color: #3e2723;
      border: 1px solid #16161675;
      border-radius: 5px;
      color: #ececec;
      font-weight: 600;
      margin-top: 32px;
      margin-bottom: 18px;
    }

    #logout-btn {
      color: #3e2723;
      background-color: #ececec;
      border: 1px solid #16161675;
      border-radius: 5px;

      span {
        font-size: 16px;
        color: #3e2723;
      }

      svg {
        margin-left: 7px;
        color: #3e2723;
      }
    }
  }

  #menu-mobile-graying {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.8;
  }
}

.menu-mobile.menu-mobile--active {
  visibility: visible;
  opacity: 1;

  #menu-mobile-main {
    transform: translate(0px, 0px);
  }
}

#nav-mobile-btn {
  display: none;
  position: relative;
  margin-left: 12px;
  z-index: 2;
  color: rgb(0, 0, 0);
  transition: color 0.3s;
}

#nav-mobile-btn.nav--active {
  color: rgba(0, 0, 0, 0.925);
}

#nav-mobile {
  display: none;
  flex-direction: column;
  visibility: hidden;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 1;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s;
  justify-content: flex-start;
  align-items: center;

  h1 {
    margin-top: 58px;
    padding-left: 40px;
    width: 100%;
    text-align: start;
    font-size: 22px;
  }

  .nav__list {
    padding-left: 40px !important;
    padding-right: 40px !important;
    list-style-type: none;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    a {
      text-decoration: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.459);
    }

    a:first-child {
      border-top: 1px solid rgba(0, 0, 0, 0.459);
    }

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }
}

#nav-mobile.nav--active {
  visibility: visible;
  opacity: 1;

  .nav__list {
    .nav__item {
      opacity: 1;
    }
  }
}

@media only screen and (max-width: 1399px) {
  .user-actions {
    #sell-btn {
      width: 60px;
    }
  }
}

@media only screen and (max-width: 1199px) {
  .search-form {
    input {
      max-width: 410px;
    }
  }
}

@media only screen and (max-width: 991px) {
  .main-header {
    h1 {
      padding: 5px 0px;
    }
  }

  .search-form {
    input {
      max-width: 270px;
      height: 36px;
    }

    .search-btn {
      width: 50px;
      height: 36px;
    }
  }

  .user-actions {
    #sell-btn {
      margin-left: 3px;
    }
  }
}

@media only screen and (max-width: 767px) {
  #header-nav-wrapper {
    position: sticky;
    z-index: 1;
    transition: 0.5s;

    .menu-mobile {
      display: block;
    }

    #nav-mobile {
      display: flex;
    }

    .main-header {
      margin-bottom: 5px;
      height: auto;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      h1 {
        font-size: 30px;
      }

      .search-form {
        width: 100%;
        order: 3;

        input {
          max-width: 100%;
          width: 100%;
          height: 32px;
        }

        .search-btn {
          width: 50px;
          height: 32px;
        }
      }

      .user-actions {
        #sell-btn {
          display: none;
        }

        .account-menu {
          display: flex;
          justify-content: center;
          align-items: center;

          #menu-mobile-btn {
            display: inline;
            width: 25px;
            height: 25px;
          }

          #nav-mobile-btn {
            display: block;
          }

          .account {
            display: none;
          }
        }
      }
    }

    .nav {
      display: none;
    }
  }
}
/* Header + Nav End */

/* Listings (not one listing!) */
.breadcrumbs {
  font-size: 14px;
  padding: 0;
  margin: 0;
  margin-top: 5px;

  .breadcrumbs__item {
    display: inline;

    .breadcrumbs__link {
      text-decoration: none;
      color: black;
    }

    .breadcrumbs__link:hover {
      text-decoration: underline;
    }

    .breadcrumbs__link--active {
      color: rgb(136, 130, 130);
    }

    .breadcrumbs__link--active:hover {
      text-decoration: none;
    }
  }

  .breadcrumbs__item:not(:last-of-type)::after {
    content: '-';
    margin: 0 5px;
    color: black;
  }
}

.listing-container {
  position: relative;
  padding: 5px;
  border: 2px solid #e5e5e5;
  border-radius: 2px;
  margin-bottom: 24px;
  background-color: #fff;

  h3 {
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    overflow: hidden;
    height: 25px;
    font-size: 20px;
  }

  a {
    text-decoration: none;
  }
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
}

.img-container img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  display: block;
}

.listing-price {
  font-size: 16px;
  color: $price-color;
  margin-bottom: 10px;
  margin-left: 10px;
  font-weight: 600;
}

.listed-by {
  font-size: 14px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  margin: 10px;
}

@media only screen and (max-width: 991px) {
  .listing-container {
    h3 {
      height: 19px;
      font-size: 15px;
    }
  }

  .img-container {
    height: 200px;
  }
}

@media only screen and (max-width: 767px) {
  .col-md-4 {
    padding: 2px;
  }

  .listing-container {
    margin-bottom: 0;
  }

  .img-container {
    height: 170px;
  }

  .listing-price {
    font-size: 13px;
    margin-bottom: 5px;
    margin-left: 10px;
    font-weight: 600;
  }

  .listed-by {
    display: none;
  }
}

@media only screen and (max-width: 575px) {
  .breadcrumbs {
    font-size: 12px;

    .breadcrumbs__item:not(:last-of-type)::after {
      margin: 0 2px;
    }
  }

  .breadcrumbs__listing {
    .breadcrumbs__link--active {
      display: none;
    }

    .breadcrumbs__item:nth-last-of-type(2)::after {
      display: none;
    }
  }

  .listing-container {
    h3 {
      margin-bottom: 2px;
    }
  }

  .col-6 {
    padding: 0;
  }

  .listing-container {
    margin-bottom: 0;
  }

  .img-container {
    height: 150px;
  }

  .listing-price {
    font-size: 14px;
    margin-bottom: 2px;
  }
}
/* Listings (not one listing!) End*/

/* Listing */
.btn-close-listing {
  display: block;
  width: 100%;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 2px;
}

.listing-basic-info {
  border: 1px solid rgb(206, 201, 201);
  border-radius: 1px;
  background-color: rgb(255, 255, 255);
  padding: 15px;

  form {
    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    #id_amount {
      padding: 3px;
      border-radius: 1px;
      border: 1px solid rgba(0, 0, 0, 0.349);
    }
  }

  .closed-price {
    color: #b9bbbc;
  }

  p {
    font-size: 14px;
    margin-bottom: 0;
    margin-left: 5px;
  }
}

.watchlist-form {
  display: block;
}

.listing-detail-price {
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: 600;
}

.watchlist-btn {
  margin-top: 5px;
  width: 100%;
  height: 36px;
  padding: 3px;
  border: 1px solid #cec9c9;
  border-radius: 1px;
  background-color: white;
  color: rgba(0, 0, 0, 0.829);
  font-weight: 600;

  svg {
    width: 24px;
    height: 24px;
    color: green;
    margin-right: 5px;
  }
}

.bid-btn {
  height: 36px;
  width: 100%;
  display: block;
  padding: 3px;
  border: 1px solid rgba(0, 0, 0, 0.767);
  border-radius: 1px;
  background-color: #3e2723;
  color: white;
  font-weight: 600;
}

.listing-basic-info label {
  font-size: 14px;
  display: block;
}

#id_amount {
  text-align: end;
  width: 100%;
  height: 37px;
  margin-bottom: 3px;
  margin-top: 3px;
}

.detail-listed-by,
.detail-start-price,
.detail-category,
.bids-info {
  font-size: 14px;
  margin-bottom: 0;

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

.bids-info.bid-alert {
  color: #a70f0f;
}

.bids-info.bid-is-last {
  color: green;
}

.img-listing-large-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(206, 201, 201);

  img {
    max-width: 100%;
    max-height: 431px;
  }
}

.hr-listing {
  margin: 50px 0;
}

.product-tabs {
  display: flex;
  justify-content: center;
  margin-top: 75px;
}

.tabs {
  padding-bottom: 40px;
}

#description-heading,
#bids-heading,
#comments-heading {
  margin-bottom: 0;
  padding: 14px;
  text-align: center;
  font-size: 18px;
  background-color: white;
  color: #202020;
  cursor: pointer;
}

#description-tab,
#bids-tab,
#comments-tab {
  border-radius: 5px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: white;

  p {
    margin: 0;
  }
}

#bids-tab {
  padding: 40px;
  color: rgba(0, 0, 0, 0.76);

  .bids-table {
    width: 700px;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.76);

    th,
    td {
      padding: 7px;
      border: 1px solid rgba(0, 0, 0, 0.76);
    }

    th {
      background-color: rgba(32, 32, 32, 0.336);
    }

    tr:nth-child(2) {
      font-weight: 600;
    }
  }
}

.comments-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment {
  width: 550px;
  padding: 20px;
  margin-bottom: 5px;
  background-color: #dbdee2;
  // border-top: 1px solid rgb(199, 194, 194);
  // border-bottom: 1px solid rgb(199, 194, 194);
}

.comment-info {
  display: flex;
  justify-content: space-between;
}

.comment p {
  margin: 0;
}

@media only screen and (max-width: 575px) {
  .img-listing-large {
    max-height: 250px;
  }

  .listing-detail-price {
    font-size: 16px;
  }

  #description-tab,
  #bids-tab,
  #comments-tab {
    font-size: 14px;
  }
}
/* Listing End */

// Categories
.categories-container {
  display: flex;
  justify-content: space-between;
}

.category {
  width: 13%;
}

.category .btn {
  width: 100%;
}
// Categories End

// Create listing
.create-listing {
  width: 500px;
  margin: 30px auto;
  padding: 25px 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  // border: 1px solid black;

  label {
    // font-weight: 600;
  }

  input {
    width: 100%;
    height: 31px;
  }

  select {
    width: 100%;
    height: 31px;
    text-align-last: center;
  }

  textarea {
    width: 100%;
    height: 150px;
  }

  #id_title,
  #id_description,
  #id_starting_price,
  #id_image_url,
  #id_category {
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.671);
    border-radius: 5px;
  }

  #id_category {
    padding: 0;
  }

  input[type='submit'] {
    width: 130px;
    height: 50px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #3e2723;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.767);
  }

  h2 {
    font-weight: 600;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .create-listing {
    width: 100%;
  }
}
// Create listing End

// Pagination
.pagination {
  padding: 0;
  display: flex;
  margin-bottom: 24px;

  .prev-pages,
  #current,
  .next-pages {
    display: flex;
  }

  .prev-pages {
    flex: 2;
    justify-content: flex-end;
  }

  .next-pages {
    flex: 2;
    justify-content: flex-start;
  }

  a {
    text-decoration: none !important;
  }
}

.btn-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 8px;
  margin-right: 8px;
  padding-left: 6px;
  padding-right: 6px;
  border: 1px solid rgba(214, 16, 16, 0);
  border-radius: 20%;
  background-color: rgba(199, 192, 192, 0);
}

.btn-pagination svg {
  width: 16px;
  height: 16px;
}

.btn-pagination#current {
  border: 1px solid rgba(88, 86, 86, 0.521);
  background-color: rgb(255, 255, 255);
}

.btn-pagination:hover,
.btn-pagination:active {
  border: 1px solid rgb(209, 203, 203);
  border-radius: 20%;
  background-color: rgb(199, 192, 192);
}

@media only screen and (max-width: 767px) {
  .pagination {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}

@media only screen and (max-width: 575px) {
  .pagination {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
  }

  .btn-pagination {
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 6px;
    padding-right: 6px;
  }

  .btn-pagination svg {
    width: 12px;
    height: 12px;
  }
}
// Pagination End

// Profile page
.profile-btns {
  display: flex;
  flex-direction: column;

  button {
    width: 200px;
    margin-bottom: 5px;
  }
}

// Footer
.footer-container {
  background-color: #cac5c5ab;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  // border-left: 1px solid rgba(27, 29, 27, 0.178);
  // border-right: 1px solid rgba(27, 29, 27, 0.178);

  p {
    color: rgba(29, 28, 28, 0.479);
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 767px) {
  footer p {
    font-size: 14px;
  }
}

@media only screen and (max-width: 575px) {
  footer p {
    font-size: 10px;
  }
}
// Footer End

// Login page
#login-register-form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;

  header a {
    text-decoration: none;
    color: black;
    padding: 2em;
  }

  h1 {
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    color: #3e2723;
  }

  .form-signin,
  .form-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    padding: 15px;

    h1,
    span {
      text-align: center;
    }

    .form-group {
      width: 100%;

      .form-control {
        position: relative;
        padding: 10px;
        font-size: 16px;
      }

      .form-control:focus {
        z-index: 2;
        border-color: rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.315);
      }
    }

    button {
      margin-top: 10px;
      margin-bottom: 10px;
      width: 100%;
      background-color: #3e2723;
      border-color: rgba(0, 0, 0, 0.616);
    }

    button:focus {
      border-color: rgba(0, 0, 0, 0.315);
      box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.315);
    }
  }

  .form-signin {
    input[type='text'] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    input[type='password'] {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  .form-register {
    input[type='text'],
    input[type='password'],
    input[type='email'] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    input[type='text'] {
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
    }

    input[type='password']:last-child {
      border-bottom-left-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }
  }
}

@media only screen and (max-width: 575px) {
  #login-register-form-wrapper {
    .form-signin,
    .form-register {
      width: 280px;

      #toggle {
        font-size: 14px;
      }
    }
  }
}
// Login page End
