@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200;400&family=Teko:wght@300&display=swap');

$price-color: #000000;
$anchor-main-hover-color: rgb(255, 201, 71);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.lock-scroll {
  overflow: hidden;
}

body {
  background-color: rgba(219, 222, 226, 0.651);
  font-size: 18px;
  font-family: 'Exo 2', sans-serif;
}

#header-nav-wrapper {
  background-color: #ffffff;
  border-bottom: 1px solid rgba(22, 22, 22, 0.459);
}

.main-container {
  margin-top: 0;
  padding-top: 0;
  min-height: 100vh;
}

#main a {
  text-decoration: none;
  color: #185adb;
}

#main a:hover,
#main a:active {
  text-decoration: underline;
}

.page-header {
  font-size: 24px;
  margin-top: 10px;
  font-weight: 600;
}

@media only screen and (max-width: 575px) {
  .page-header {
    font-size: 16px;
  }
}

/* Header + Nav */
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  margin-bottom: 5px;

  a:link,
  a:visited,
  a:hover,
  a:active {
    text-decoration: none;
    color: black;
  }
}

h1 {
  letter-spacing: 1px;
  font-weight: 600;
  padding: 5px 10px;
  margin-bottom: 0;
}

.search-form {
  display: flex;
  align-items: center;

  input {
    margin-right: 0px;
    padding: 2px;
    padding-left: 16px;
    width: 600px;
    height: 32px;
    border: 1px solid rgba(0, 0, 0, 0.24);
    border-right: none;
  }

  #search-input {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  #search-input:focus {
    outline: none;
  }

  .search-btn {
    width: 50px;
    height: 32px;
    border: 1px solid rgba(0, 0, 0, 0.281);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #dbdee2;
  }
}

.account-menu {
  display: flex;
  justify-content: center;
  align-items: center;

  .account {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    text-decoration: none;
  }

  a:link,
  a:visited {
    color: black;
  }

  a:hover,
  a:active {
    color: rgb(61, 59, 59);
  }

  .account-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 12px;
    margin: 0 6px;

    p {
      margin: 0;
    }
  }
}

#account-btn {
  width: 36px;
  height: 36px;
}

#nav-btn {
  display: none;
  position: relative;
  margin-left: 12px;
  z-index: 2;
}

.nav {
  background-color: rgba(219, 222, 226, 0.651);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.nav-link {
  font-weight: 600;
  font-size: 14px;
}

.nav-link:visited,
.nav-link:link {
  color: rgb(0, 0, 0);
}

.nav-link:hover,
.nav-link:active {
  text-decoration: underline;
}

// Mobile navigation
#nav-mobile {
  display: none;
  visibility: hidden;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  z-index: 1;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s;
  justify-content: flex-start;
  align-items: center;

  ul {
    padding-left: 40px !important;
    list-style-type: none;

    li {
      padding: 5px;
      margin-bottom: 10px;

      a {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.925);
      }
    }
  }
}

#nav-mobile.nav--active {
  visibility: visible;
  opacity: 1;
}

// .nav__list {
//   margin: 0;
//   padding: 10px;
// }

// .nav__item {
//   list-style-type: none;
//   text-align: left;
// }

.nav__link {
  // font-size: 1.3em;
  // text-transform: uppercase;
  // text-decoration: none;
  // color: #ffffff;
  opacity: 0;
  transition: opacity 300ms;
  transition-delay: 300ms;
}

.nav--active .nav__link {
  opacity: 1;
}

@media only screen and (max-width: 1199px) {
  h1 {
    font-weight: 600;
    padding: 5px 10px;
    margin-bottom: 0;
  }

  .search-form {
    input {
      width: 400px;
      height: 32px;
    }

    .search-btn {
      width: 50px;
      height: 32px;
    }
  }
}

@media only screen and (max-width: 991px) {
  h1 {
    font-weight: 600;
    padding: 5px 0px;
    margin-bottom: 0;
  }

  .search-form {
    input {
      width: 295px;
      height: 32px;
    }

    .search-btn {
      width: 50px;
      height: 32px;
    }
  }
}

@media only screen and (max-width: 767px) {
  #header-nav-wrapper {
    position: sticky;
    z-index: 1;
    transition: 0.5s;
  }

  .main-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .search-form {
    width: 100%;
    order: 3;

    input {
      width: 100%;
      height: 32px;
    }

    .search-btn {
      width: 50px;
      height: 32px;
    }
  }

  .account-menu {
    .account-info {
      display: none;
    }
  }

  #account-btn {
    width: 25px;
    height: 25px;
  }

  #nav-btn {
    display: block;
  }

  .nav {
    display: none;
  }

  #nav-mobile {
    display: flex;
  }
}
/* Header + Nav End */

/* Listings (not one listing!) */
.listing-container {
  position: relative;
  padding: 5px;
  border: 2px solid #e5e5e5;
  border-radius: 2px;
  margin-bottom: 24px;
  background-color: #fff;

  h3 {
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    overflow: hidden;
    height: 25px;
    font-size: 20px;
  }
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
}

.img-container img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  display: block;
}

.listing-title-wrapper > a {
  color: rgb(0, 39, 90);
}

.listing-title-wrapper > a:hover {
  text-decoration: underline;
}

.listing-price {
  font-size: 16px;
  color: $price-color;
  margin-bottom: 10px;
  margin-left: 10px;
  font-weight: 600;
}

.listed-by {
  font-size: 14px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  margin: 10px;
}

.listed-by > a {
  color: rgb(0, 39, 90);
}

.listed-by > a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 991px) {
  .listing-container {
    h3 {
      height: 19px;
      font-size: 15px;
    }
  }

  .img-container {
    height: 200px;
  }
}

@media only screen and (max-width: 767px) {
  .col-md-4 {
    padding: 2px;
  }

  .listing-container {
    margin-bottom: 0;
  }

  .img-container {
    height: 170px;
  }

  .listing-price {
    font-size: 13px;
    margin-bottom: 5px;
    margin-left: 10px;
    font-weight: 600;
  }

  .listed-by {
    display: none;
  }
}

@media only screen and (max-width: 575px) {
  .listing-container {
    h3 {
      margin-bottom: 2px;
    }
  }

  .col-6 {
    padding: 0;
  }

  .listing-container {
    margin-bottom: 0;
  }

  .img-container {
    height: 150px;
  }

  .listing-price {
    font-size: 14px;
    margin-bottom: 2px;
  }
}
/* Listings (not one listing!) End*/

/* Listing */
.btn-close-listing {
  display: block;
  width: 100%;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 2px;
}

.listing-basic-info {
  border: 1px solid rgb(206, 201, 201);
  border-radius: 1px;
  background-color: rgb(255, 255, 255);
  padding: 15px;

  .closed-price {
    color: #b9bbbc;
  }

  p {
    font-size: 14px;
    margin-bottom: 0;
    margin-left: 5px;
  }
}

.watchlist-form {
  display: block;
  margin-top: 5px;
}

.listing-detail-price {
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: 600;
}

.btn-large {
  width: 100%;
}

.bid-btn {
  width: 100%;
  display: block;
  padding: 3px;
}

.listing-basic-info label {
  font-size: 14px;
  display: block;
}

#id_amount {
  text-align: end;
  width: 100%;
  height: 37px;
  margin-bottom: 3px;
  margin-top: 3px;
}

.detail-listed-by,
.detail-start-price,
.detail-category,
.bids-info {
  font-size: 14px;
  margin-bottom: 0;
}

.bids-info.bid-alert {
  color: #a70f0f;
}

.bids-info.bid-is-last {
  color: green;
}

.img-listing-large-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(206, 201, 201);

  img {
    max-width: 100%;
    max-height: 431px;
  }
}

.product-tabs {
  display: flex;
  justify-content: center;
}

.tabs {
  padding-bottom: 20px;
}

#description-heading,
#bids-heading,
#comments-heading {
  margin-top: 4px;
  margin-bottom: 0;
  font-weight: 600;
  padding: 6px;
  text-align: center;
  font-size: 18px;
  background-color: white;
  cursor: pointer;
}

#description-tab,
#bids-tab,
#comments-tab {
  border-radius: 5px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: white;
}

#bids-tab p,
#description-tab p {
  margin-bottom: 0;
  text-align: center;
}

.comments-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment {
  width: 550px;
  padding: 20px;
  margin-bottom: 5px;
  background-color: #dbdee2;
  // border-top: 1px solid rgb(199, 194, 194);
  // border-bottom: 1px solid rgb(199, 194, 194);
}

.comment-info {
  display: flex;
  justify-content: space-between;
}

.comment p {
  margin: 0;
}

@media only screen and (max-width: 575px) {
  .img-listing-large {
    max-height: 250px;
  }
}
/* Listing End */

// Categories
.categories-container {
  display: flex;
  justify-content: space-between;
}

.category {
  width: 13%;
}

.category .btn {
  width: 100%;
}
// Categories End

// Create listing
.create-listing {
  width: 50%;
  margin: 30px auto;
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // border: 1px solid black;

  textarea {
    width: 280px;
    height: 150px;
  }

  label,
  select {
    display: block;
  }

  input,
  select {
    width: 280px;
    height: 31px;
  }

  select {
    text-align-last: center;
    margin-bottom: 10px;
  }
}
// Create listing End

// Pagination
.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;

  a {
    text-decoration: none !important;
    // color: chocolate !important;
  }
}

.btn-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 8px;
  margin-right: 8px;
  padding-left: 6px;
  padding-right: 6px;
  border: 1px solid rgba(214, 16, 16, 0);
  border-radius: 20%;
  background-color: rgba(199, 192, 192, 0);
}

.btn-pagination svg {
  width: 16px;
  height: 16px;
}

.btn-pagination#current {
  border: 1px solid rgba(88, 86, 86, 0.521);
  background-color: rgb(255, 255, 255);
}

.btn-pagination:hover,
.btn-pagination:active {
  border: 1px solid rgb(209, 203, 203);
  border-radius: 20%;
  background-color: rgb(199, 192, 192);
}

@media only screen and (max-width: 575px) {
  .pagination {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
  }

  .btn-pagination {
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 6px;
    padding-right: 6px;
  }

  .btn-pagination svg {
    width: 12px;
    height: 12px;
  }
}
// Pagination End

// Profile page
.profile-btns {
  display: flex;
  flex-direction: column;

  button {
    width: 200px;
    margin-bottom: 5px;
  }
}

// Footer
.footer-container {
  background-color: #cac5c5ab;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  // border-left: 1px solid rgba(27, 29, 27, 0.178);
  // border-right: 1px solid rgba(27, 29, 27, 0.178);

  p {
    color: #666666;
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 575px) {
  footer p {
    font-size: 10px;
  }
}
// Footer End
