@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.lock-scroll {
  overflow: hidden;
}

body {
  background-color: rgba(235, 237, 240, 0.856);
  font-size: 18px;
  font-family: "Lato", sans-serif;
}

#header-nav-wrapper {
  background-color: #ffffff;
  border-bottom: 1px solid rgba(22, 22, 22, 0.459);
}

.main-container {
  margin-top: 0;
  padding-top: 0;
  min-height: 100vh;
}

.page-header {
  font-size: 32px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 600;
}

a {
  color: #284a26;
}

a:hover {
  color: #284a26;
}

@media only screen and (max-width: 575px) {
  .page-header {
    font-size: 16px;
  }
}
/* Header + Nav */
.main-header {
  height: 68px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-header a:link,
.main-header a:visited,
.main-header a:hover,
.main-header a:active {
  text-decoration: none;
  color: black;
}
.main-header h1 {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-size: 46px;
  color: #3e2723;
  padding: 5px 10px;
  margin-bottom: 0;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-form input {
  margin-right: 0px;
  padding: 2px;
  padding-left: 8px;
  width: 500px;
  max-width: 500px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.24);
  border-right: none;
}
.search-form #search-input {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.search-form #search-input:focus {
  outline: none;
}
.search-form .search-btn {
  width: 50px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.281);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #dbdee2;
}

.user-actions {
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-actions #sell-btn {
  margin-left: 16px;
  width: 60px;
  height: 40px;
  background-color: #3e2723;
  border: 1px solid #16161675;
  border-radius: 5px;
  color: #ececec;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-actions .account-menu .account {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 126px;
  height: 68px;
  position: relative;
}
.user-actions .account-menu .account .account-control {
  color: black;
}
.user-actions .account-menu .account .account-control #account-btn {
  width: 36px;
  height: 36px;
}
.user-actions .account-menu .account .account-control:hover {
  cursor: pointer;
}
.user-actions .account-menu .account a {
  display: flex;
  justify-content: flex-start;
}
.user-actions .account-menu .account .menu {
  z-index: 1;
  position: absolute;
  top: 68px;
  right: 0;
  padding: 20px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.308);
  box-shadow: 0 2px 5px 0 rgba(32, 31, 31, 0.671);
  border-radius: 5px;
  width: 250px;
  transition: 0.1s;
  visibility: hidden;
  opacity: 0;
}
.user-actions .account-menu .account .menu ul {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.user-actions .account-menu .account .menu ul li {
  width: 100%;
  list-style: none;
  border-bottom: 1px solid rgba(73, 72, 72, 0.199);
}
.user-actions .account-menu .account .menu ul li a {
  font-size: 16px;
}
.user-actions .account-menu .account .menu ul li:last-child {
  border-bottom: none;
}
.user-actions .account-menu .account .menu ul li:hover {
  background-color: rgba(201, 194, 194, 0.144);
}
.user-actions .account-menu .account .menu hr {
  margin: 8px;
}
.user-actions .account-menu .account .menu #logout-btn {
  height: 30px;
  background-color: #544b2b;
  border: 1px solid rgba(0, 0, 0, 0.219);
  border-radius: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
  padding: 2px;
}
.user-actions .account-menu .account .menu #logout-btn span {
  font-size: 16px;
  color: white;
}
.user-actions .account-menu .account .menu #logout-btn svg {
  margin-left: 7px;
  color: white;
}
.user-actions .account-menu .account .menu.show {
  visibility: visible;
  opacity: 1;
}
.user-actions .account-menu a {
  text-decoration: none;
}
.user-actions .account-menu a:link,
.user-actions .account-menu a:visited {
  color: black;
}
.user-actions .account-menu .account-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 11px;
  margin: 0 6px;
}
.user-actions .account-menu .account-info p {
  max-width: 80px;
  margin: 0;
  overflow: hidden;
}

.nav {
  justify-content: space-around;
  background-color: rgba(219, 222, 226, 0.651);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.nav .nav-link {
  font-weight: 600;
  font-size: 14px;
}
.nav .nav-link:visited,
.nav .nav-link:link {
  color: #3e2723;
}
.nav .nav-link:hover,
.nav .nav-link:active {
  text-decoration: underline;
}

#menu-mobile-btn {
  display: none;
  z-index: 1;
  transition: color 1s;
}

.menu-mobile {
  z-index: 2;
  display: none;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s;
}
.menu-mobile #menu-mobile-main {
  position: absolute;
  z-index: 1;
  width: calc(100% - 95px);
  height: 100%;
  background-color: white;
  transition: transform 0.2s;
  transform: translate(-100%);
}
.menu-mobile #menu-mobile-main .username {
  background-color: rgba(156, 152, 152, 0.322);
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
}
.menu-mobile #menu-mobile-main .username p {
  width: 80%;
  margin: 0 auto;
  font-size: 16px;
}
.menu-mobile #menu-mobile-main a {
  text-decoration: none;
}
.menu-mobile #menu-mobile-main ul {
  width: 80%;
  margin: 0 auto;
  margin-top: 32px;
  margin-bottom: 32px;
  padding: 0;
}
.menu-mobile #menu-mobile-main ul li {
  width: 150px;
  list-style: none;
  margin-bottom: 6px;
}
.menu-mobile #menu-mobile-main ul li a {
  font-size: 20px;
  text-decoration: none;
}
.menu-mobile #menu-mobile-main #sell-btn-mobile,
.menu-mobile #menu-mobile-main #login-logout-btn {
  height: 40px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 2px;
}
.menu-mobile #menu-mobile-main #sell-btn-mobile {
  background-color: #3e2723;
  border: 1px solid #16161675;
  border-radius: 5px;
  color: #ececec;
  font-weight: 600;
  margin-bottom: 18px;
}
.menu-mobile #menu-mobile-main #login-logout-btn {
  color: #3e2723;
  background-color: #ececec;
  border: 1px solid #16161675;
  border-radius: 5px;
}
.menu-mobile #menu-mobile-main #login-logout-btn span {
  font-size: 16px;
  color: #3e2723;
}
.menu-mobile #menu-mobile-main #login-logout-btn svg {
  margin-left: 7px;
  color: #3e2723;
}
.menu-mobile #menu-mobile-graying {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.8;
}

.menu-mobile.menu-mobile--active {
  visibility: visible;
  opacity: 1;
}
.menu-mobile.menu-mobile--active #menu-mobile-main {
  transform: translate(0px, 0px);
}

#nav-mobile-btn {
  display: none;
  position: relative;
  margin-left: 12px;
  z-index: 2;
  color: black;
  transition: color 0.3s;
}

#nav-mobile-btn.nav--active {
  color: rgba(0, 0, 0, 0.925);
}

#nav-mobile {
  display: none;
  flex-direction: column;
  visibility: hidden;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 1;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s;
  justify-content: flex-start;
  align-items: center;
}
#nav-mobile h1 {
  margin-top: 58px;
  padding-left: 40px;
  width: 100%;
  text-align: start;
  font-size: 22px;
}
#nav-mobile .nav__list {
  padding-left: 40px !important;
  padding-right: 40px !important;
  list-style-type: none;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#nav-mobile .nav__list a {
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.459);
}
#nav-mobile .nav__list a:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.459);
}
#nav-mobile .nav__list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#nav-mobile.nav--active {
  visibility: visible;
  opacity: 1;
}
#nav-mobile.nav--active .nav__list .nav__item {
  opacity: 1;
}

@media only screen and (max-width: 1399px) {
  .user-actions #sell-btn {
    width: 60px;
  }
}
@media only screen and (max-width: 1199px) {
  .search-form input {
    max-width: 410px;
  }
}
@media only screen and (max-width: 991px) {
  .main-header h1 {
    padding: 5px 0px;
  }

  .search-form input {
    max-width: 270px;
    height: 36px;
  }
  .search-form .search-btn {
    width: 50px;
    height: 36px;
  }

  .user-actions #sell-btn {
    margin-left: 3px;
  }
}
@media only screen and (max-width: 767px) {
  #header-nav-wrapper {
    position: sticky;
    z-index: 1;
    transition: 0.5s;
  }
  #header-nav-wrapper .menu-mobile {
    display: block;
  }
  #header-nav-wrapper #nav-mobile {
    display: flex;
  }
  #header-nav-wrapper .main-header {
    margin-bottom: 5px;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  #header-nav-wrapper .main-header h1 {
    font-size: 30px;
  }
  #header-nav-wrapper .main-header .search-form {
    width: 100%;
    order: 3;
  }
  #header-nav-wrapper .main-header .search-form input {
    max-width: 100%;
    width: 100%;
    height: 32px;
  }
  #header-nav-wrapper .main-header .search-form .search-btn {
    width: 50px;
    height: 32px;
  }
  #header-nav-wrapper .main-header .user-actions #sell-btn {
    display: none;
  }
  #header-nav-wrapper .main-header .user-actions .account-menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #header-nav-wrapper .main-header .user-actions .account-menu #menu-mobile-btn {
    display: inline;
    width: 25px;
    height: 25px;
  }
  #header-nav-wrapper .main-header .user-actions .account-menu #nav-mobile-btn {
    display: block;
  }
  #header-nav-wrapper .main-header .user-actions .account-menu .account {
    display: none;
  }
  #header-nav-wrapper .nav {
    display: none;
  }
}
/* Header + Nav End */
/* Listings (not one listing!) */
.breadcrumbs {
  font-size: 14px;
  padding: 0;
  margin: 0;
  margin-top: 5px;
}
.breadcrumbs .breadcrumbs__item {
  display: inline;
}
.breadcrumbs .breadcrumbs__item .breadcrumbs__link {
  text-decoration: none;
  color: black;
}
.breadcrumbs .breadcrumbs__item .breadcrumbs__link:hover {
  text-decoration: underline;
}
.breadcrumbs .breadcrumbs__item .breadcrumbs__link--active {
  color: #888282;
}
.breadcrumbs .breadcrumbs__item .breadcrumbs__link--active:hover {
  text-decoration: none;
}
.breadcrumbs .breadcrumbs__item:not(:last-of-type)::after {
  content: "-";
  margin: 0 5px;
  color: black;
}

.listing-container {
  position: relative;
  padding: 5px;
  border: 2px solid #e5e5e5;
  border-radius: 2px;
  margin-bottom: 24px;
  background-color: #fff;
}
.listing-container h3 {
  margin-left: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  overflow: hidden;
  height: 25px;
  font-size: 20px;
}
.listing-container a {
  text-decoration: none;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
}

.img-container img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  display: block;
}

.listing-price {
  font-size: 16px;
  color: #000000;
  margin-bottom: 10px;
  margin-left: 10px;
  font-weight: 600;
}

.listed-by {
  font-size: 14px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  margin: 10px;
}

@media only screen and (max-width: 991px) {
  .listing-container h3 {
    height: 19px;
    font-size: 15px;
  }

  .img-container {
    height: 200px;
  }
}
@media only screen and (max-width: 767px) {
  .col-md-4 {
    padding: 2px;
  }

  .listing-container {
    margin-bottom: 0;
  }

  .img-container {
    height: 170px;
  }

  .listing-price {
    font-size: 13px;
    margin-bottom: 5px;
    margin-left: 10px;
    font-weight: 600;
  }

  .listed-by {
    display: none;
  }
}
@media only screen and (max-width: 575px) {
  .breadcrumbs {
    font-size: 12px;
  }
  .breadcrumbs .breadcrumbs__item:not(:last-of-type)::after {
    margin: 0 2px;
  }

  .breadcrumbs__listing .breadcrumbs__link--active {
    display: none;
  }
  .breadcrumbs__listing .breadcrumbs__item:nth-last-of-type(2)::after {
    display: none;
  }

  .listing-container h3 {
    margin-bottom: 2px;
  }

  .col-6 {
    padding: 0;
  }

  .listing-container {
    margin-bottom: 0;
  }

  .img-container {
    height: 150px;
  }

  .listing-price {
    font-size: 14px;
    margin-bottom: 2px;
  }
}
/* Listings (not one listing!) End*/
/* Listing */
.btn-close-listing {
  display: block;
  width: 100%;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 2px;
}

.listing-basic-info {
  border: 1px solid #cec9c9;
  border-radius: 1px;
  background-color: white;
  padding: 15px;
}
.listing-basic-info form input[type=number]::-webkit-inner-spin-button,
.listing-basic-info form input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.listing-basic-info form #id_amount {
  padding: 3px;
  border-radius: 1px;
  border: 1px solid rgba(0, 0, 0, 0.349);
}
.listing-basic-info .closed-price {
  color: #b9bbbc;
}
.listing-basic-info p {
  font-size: 14px;
  margin-bottom: 0;
  margin-left: 5px;
}

.watchlist-form {
  display: block;
}

.listing-detail-price {
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: 600;
}

.watchlist-btn {
  margin-top: 5px;
  width: 100%;
  height: 36px;
  padding: 3px;
  border: 1px solid #cec9c9;
  border-radius: 1px;
  background-color: white;
  color: rgba(0, 0, 0, 0.829);
  font-weight: 600;
}
.watchlist-btn svg {
  width: 24px;
  height: 24px;
  color: green;
  margin-right: 5px;
}

.bid-btn {
  height: 36px;
  width: 100%;
  display: block;
  padding: 3px;
  border: 1px solid rgba(0, 0, 0, 0.767);
  border-radius: 1px;
  background-color: #3e2723;
  color: white;
  font-weight: 600;
}

.listing-basic-info label {
  font-size: 14px;
  display: block;
}

#id_amount {
  text-align: end;
  width: 100%;
  height: 37px;
  margin-bottom: 3px;
  margin-top: 3px;
}

.detail-listed-by,
.detail-start-price,
.detail-category,
.bids-info {
  font-size: 14px;
  margin-bottom: 0;
}
.detail-listed-by a,
.detail-start-price a,
.detail-category a,
.bids-info a {
  text-decoration: none;
}
.detail-listed-by a:hover,
.detail-start-price a:hover,
.detail-category a:hover,
.bids-info a:hover {
  text-decoration: underline;
}

.bids-info.bid-alert {
  color: #a70f0f;
}

.bids-info.bid-is-last {
  color: green;
}

.img-listing-large-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
  border: 1px solid #cec9c9;
}
.img-listing-large-container img {
  max-width: 100%;
  max-height: 431px;
}

.hr-listing {
  margin: 50px 0;
}

.product-tabs {
  display: flex;
  justify-content: center;
  margin-top: 75px;
}

.tabs {
  padding-bottom: 40px;
}

#description-heading,
#bids-heading,
#comments-heading {
  margin-bottom: 0;
  padding: 14px;
  text-align: center;
  font-size: 18px;
  background-color: white;
  color: #202020;
  cursor: pointer;
}

#description-tab,
#bids-tab,
#comments-tab {
  border-radius: 5px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: white;
}
#description-tab p,
#bids-tab p,
#comments-tab p {
  margin: 0;
}

#bids-tab {
  padding: 40px;
  color: rgba(0, 0, 0, 0.76);
}
#bids-tab .bids-table {
  width: 700px;
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.76);
}
#bids-tab .bids-table th,
#bids-tab .bids-table td {
  padding: 7px;
  border: 1px solid rgba(0, 0, 0, 0.76);
}
#bids-tab .bids-table th {
  background-color: rgba(32, 32, 32, 0.336);
}
#bids-tab .bids-table tr:nth-child(2) {
  font-weight: 600;
}

.comments-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment {
  width: 550px;
  padding: 20px;
  margin-bottom: 5px;
  background-color: #dbdee2;
}

.comment-info {
  display: flex;
  justify-content: space-between;
}

.comment p {
  margin: 0;
}

@media only screen and (max-width: 575px) {
  .img-listing-large {
    max-height: 250px;
  }

  .listing-detail-price {
    font-size: 16px;
  }

  #description-tab,
#bids-tab,
#comments-tab {
    font-size: 14px;
  }
}
/* Listing End */
.categories-container {
  display: flex;
  justify-content: space-between;
}

.category {
  width: 13%;
}

.category .btn {
  width: 100%;
}

.create-listing {
  width: 500px;
  margin: 30px auto;
  padding: 25px 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.create-listing input {
  width: 100%;
  height: 31px;
}
.create-listing select {
  width: 100%;
  height: 31px;
  -moz-text-align-last: center;
       text-align-last: center;
}
.create-listing textarea {
  width: 100%;
  height: 150px;
}
.create-listing #id_title,
.create-listing #id_description,
.create-listing #id_starting_price,
.create-listing #id_image_url,
.create-listing #id_category {
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.671);
  border-radius: 5px;
}
.create-listing #id_category {
  padding: 0;
}
.create-listing input[type=submit] {
  width: 130px;
  height: 50px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #3e2723;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.767);
}
.create-listing h2 {
  font-weight: 600;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

@media only screen and (max-width: 767px) {
  .create-listing {
    width: 100%;
  }
}
.pagination {
  padding: 0;
  display: flex;
  margin-top: 6px;
  margin-bottom: 30px;
}
.pagination .prev-pages,
.pagination #current,
.pagination .next-pages {
  display: flex;
}
.pagination .prev-pages {
  flex: 2;
  justify-content: flex-end;
}
.pagination .next-pages {
  flex: 2;
  justify-content: flex-start;
}
.pagination a {
  text-decoration: none !important;
}

.btn-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 8px;
  margin-right: 8px;
  padding-left: 6px;
  padding-right: 6px;
  border: 1px solid rgba(214, 16, 16, 0);
  border-radius: 20%;
  background-color: rgba(199, 192, 192, 0);
}

.btn-pagination svg {
  width: 16px;
  height: 16px;
}

.btn-pagination#current {
  border: 1px solid rgba(88, 86, 86, 0.521);
  background-color: white;
}

.btn-pagination:hover,
.btn-pagination:active {
  border: 1px solid #d1cbcb;
  border-radius: 20%;
  background-color: #c7c0c0;
}

@media only screen and (max-width: 767px) {
  .pagination {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}
@media only screen and (max-width: 575px) {
  .pagination {
    margin-top: 17px;
    margin-bottom: 17px;
    font-size: 12px;
  }

  .btn-pagination {
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 6px;
    padding-right: 6px;
  }

  .btn-pagination svg {
    width: 12px;
    height: 12px;
  }
}
.profile-btns {
  display: flex;
  flex-direction: column;
}
.profile-btns button {
  width: 200px;
  margin-bottom: 5px;
}

.footer-container {
  background-color: #cac5c5ab;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
}
.footer-container p {
  color: rgba(29, 28, 28, 0.479);
  margin-bottom: 0;
}

@media only screen and (max-width: 767px) {
  footer p {
    font-size: 14px;
  }
}
@media only screen and (max-width: 575px) {
  footer p {
    font-size: 10px;
  }
}
#login-register-form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
#login-register-form-wrapper header a {
  text-decoration: none;
  color: black;
  padding: 2em;
}
#login-register-form-wrapper h1 {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  color: #3e2723;
}
#login-register-form-wrapper .form-signin,
#login-register-form-wrapper .form-register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  padding: 15px;
}
#login-register-form-wrapper .form-signin h1,
#login-register-form-wrapper .form-signin span,
#login-register-form-wrapper .form-register h1,
#login-register-form-wrapper .form-register span {
  text-align: center;
}
#login-register-form-wrapper .form-signin .form-group,
#login-register-form-wrapper .form-register .form-group {
  width: 100%;
}
#login-register-form-wrapper .form-signin .form-group .form-control,
#login-register-form-wrapper .form-register .form-group .form-control {
  position: relative;
  padding: 10px;
  font-size: 16px;
}
#login-register-form-wrapper .form-signin .form-group .form-control:focus,
#login-register-form-wrapper .form-register .form-group .form-control:focus {
  z-index: 2;
  border-color: rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.315);
}
#login-register-form-wrapper .form-signin button,
#login-register-form-wrapper .form-register button {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  background-color: #3e2723;
  border-color: rgba(0, 0, 0, 0.616);
}
#login-register-form-wrapper .form-signin button:focus,
#login-register-form-wrapper .form-register button:focus {
  border-color: rgba(0, 0, 0, 0.315);
  box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.315);
}
#login-register-form-wrapper .form-signin input[type=text] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#login-register-form-wrapper .form-signin input[type=password] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#login-register-form-wrapper .form-register input[type=text],
#login-register-form-wrapper .form-register input[type=password],
#login-register-form-wrapper .form-register input[type=email] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#login-register-form-wrapper .form-register input[type=text] {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
#login-register-form-wrapper .form-register input[type=password]:last-child {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

@media only screen and (max-width: 575px) {
  #login-register-form-wrapper .form-signin,
#login-register-form-wrapper .form-register {
    width: 280px;
  }
  #login-register-form-wrapper .form-signin #toggle,
#login-register-form-wrapper .form-register #toggle {
    font-size: 14px;
  }
}/*# sourceMappingURL=styles.css.map */