{% extends "auctions/layout.html" %}
{% load static %}

{% block title %}
Auctions - {{ listing.title }}
{% endblock %}

{% block body %}
<div class='container-lg main-container'> 

    {% if breadcrumbs %}
        <ul class="breadcrumbs breadcrumbs__listing">
            <li class="breadcrumbs__item">
                <a class='breadcrumbs__link' href={% url 'index' %}>Auctions</a>
            </li>
            <li class="breadcrumbs__item">
                <a class='breadcrumbs__link' href={% url 'category' listing.category %}>{{ listing.category }}</a>
            </li>
            <li class="breadcrumbs__item">
                <a class='breadcrumbs__link breadcrumbs__link--active'>{{ listing.title }}</a>
            </li>
        </ul>
    {% endif %}

    <h2 class='page-header'>{{ listing.title }}</h2>

    {% if listing.closed %}
        <div class="alert alert-primary" role="alert">
            This auction is closed
        </div>
    {% endif %}
    <div class='row'>
        <div class='col-lg-8'>
            <div class='img-listing-large-container'>
                {% if listing.image_url %}
                    <img class='img-listing-large' src="{{ listing.image_url }}" alt="{{ listing.title }}">
                {% else %}
                    <img class='' src="https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg">
                {% endif %}
            </div>
        </div>
        <div class='col-lg-4'>
            <div class='listing-basic-info'>
                {% if listing.closed %}
                    <span class='listing-detail-price closed-price'>Current price: ${{ listing.current_price }}</span>
                {% else %}
                    <span class='listing-detail-price'>Current price: ${{ listing.current_price }}</span>
                {% endif %}

                {% if listing.closed %}
                    {% if request.user == listing.winner %}
                        <p><strong>You win this auction!</strong></p>
                    {% elif listing.winner %}
                        <p>{{ listing.winner }} win this auction</p>
                    {% endif %}
                {% endif %}
                
                {% if listing.owner != request.user %}
                    {% if listing.closed == False %}
                        <form action="{% url 'bid' listing.id %}" method="POST">
                            {% csrf_token %}
                            {% if message %}
                                <p class="alert alert-warning">{{ message }}</p>
                            {% endif %}
                            {{ bid_form }}
                            <button class='bid-btn' type="submit">PLACE BID</button>
                        </form>
                    {% endif %}
                {% endif %}
            </div>

            <div class='listing-basic-info'>
                {% if not bids %}
                    {% if listing.closed == False %}
                        <p class='bids-info'>No one has bid on this auction yet</p>
                    {% else %}
                        <p class='bids-info'>No one has bid on this auction</p>
                    {% endif %}
                {% else %}
                    <p class='bids-info'>{{ bids.count }} bid(s) in total</p>
                {% endif %}

                {% if user_in_bids %}
                    {% if bids.first.user == request.user %}
                        <p class='bids-info bid-is-last'><strong>Your bid is last bid</strong></p>
                    {% else %}
                        <p class='bids-info bid-alert'><strong>Your bid is not last bid</strong></p>
                    {% endif %}
                {% else %}
                    {% if bids and user.is_authenticated %}
                        {% if listing.owner != request.user %}
                            <p class='bids-info'>You don't have any bid on this auction</p>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>

            <div class='listing-basic-info'>
                <p class='detail-start-price'>Starting price: ${{ listing.starting_price }}</p>
                <p class='detail-listed-by'>Listed by: <a href="{% url 'user_listings' listing.owner %}">{{ listing.owner }}</a></p>
            </div>
            
            {% if listing.owner != request.user %}
                {% if user.is_authenticated %}
                    <form class='watchlist-form'>
                        {% csrf_token %}
                        <input type='hidden' id="listing_id" value={{ listing.id }}>
                        {% if watched is True %}
                            <button class='watchlist-btn' type="submit">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                                <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                                </svg>
                                <span id='watchlist-btn-text'>Watching</span>
                            </button>
                        {% else %}
                            <button class='watchlist-btn' type="submit"><span id='watchlist-btn-text'>Add to watchlist</span></button>
                        {% endif %}
                    </form>
                {% else %}
                    <a href="{% url 'login' %}?next=/listing/{{ listing.id }}">
                        <button class='watchlist-btn'>Add to watchlist</button>
                    </a>
                {% endif %}
            {% endif %}

            {% if listing.closed == False %}
                {% if listing.owner == request.user %}
                    <form action={% url 'close_listing' %} method='POST'>
                        {% csrf_token %}
                        <input type='hidden' name='id' value={{ listing.id }}>
                        <button class='btn-md btn btn-danger btn-close-listing' type="submit">Close this auction</button>
                    </form>
                {% endif %}
            {% endif %}

        </div>
    </div>

    <div class='product-tabs'>
        <p id='description-heading'>Description</p>
        <p id='bids-heading'>Bids</p>
        <p id='comments-heading'>Comments</p>
    </div>

    <div class='tabs'>
        <div id='description-tab'>
            {% if not listing.description %}
                <p>No description</p>
            {% else %}
                <p>{{ listing.description }}</p>
            {% endif %}
        </div>

        <div id="bids-tab">
            {% if bids %}
                <table class='bids-table'>
                    <tr>
                        <th>Bidder</th>
                        <th>Amount</th>
                        <th>Time</th>
                    </tr>
                {% for bid in bids %}
                    <tr>
                        <td>{{ bid.user }}</td>
                        <td>${{ bid.amount }}</td>
                        <td>{{ bid.date_added }}</td>
                    </tr>
                {% endfor %}
                </table>
            {% else %}
                <p>No bids</p>
            {% endif %}
        </div>

        <div id="comments-tab">
            {% comment %} <p>Add comment</p>
            {% if user.is_authenticated %}
                <form action="{% url 'comment' %}" method='POST'>
                    {% csrf_token %}
                    <textarea name="content" cols="30" rows="10"></textarea>
                    <input type='hidden' name='listing_id' value={{ listing.id }}>
                    <button type="submit">Comment!</button>
                </form>
            {% else %}
                <p><a href="{% url 'login' %}?next=/listing/{{ listing.id }}">Log in</a> if you want to add comment</p>
            {% endif %} {% endcomment %}
            <div class='comments-container'>
                {% if not comments %}
                    No comments
                {% else %}
                    {% for comment in comments %}
                    <div class='comment'>
                        <div class='comment-info'>
                            <div class='comment-author'>
                                <strong>{{ comment.user }}</strong>
                            </div>
                            <div class='comment-author'>
                                {{ comment.date_added }}
                            </div>
                        </div>
                        <p>{{ comment.content }}</p>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

    {% if recommended_products %}
        <div class='recommended-products'>
            <h3>
                You may also like
            </h3>
            <div class='carousel-container'>
                {% if carousel_buttons %}
                    <div id='prev-btn'>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                        </svg>
                    </div>
                    <div id='next-btn'>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                    </div>
                {% endif %}
                <div class='carousel-wrapper'>
                    <div class='carousel'>
                        {% for listing in recommended_products %}
                            <div class='recommended-product-container'>
                                <a href={% url 'listing' listing.id %}>
                                    <div class='img-container'>
                                        {% if listing.image_url %}
                                            <img src="{{ listing.image_url }}" alt="{{ listing.title }}">
                                        {% else %}
                                            <img src="https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg">
                                        {% endif %}
                                    </div>
                                </a>
                                <a href={% url 'listing' listing.id %}>
                                    <h4>{{ listing.title }}</h4>
                                </a>
                                <p class='listing-price'>${{ listing.current_price }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>

{% endblock %}

{% block script %}
    <script src="{% static 'auctions/listing.js' %}" defer></script>
{% endblock %}
