{% load static %}
{% load sass_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="{% sass_src 'auctions/css/styles.scss' %}" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id='login-register-form-wrapper'>
        <header>
            <a href="{% url 'index' %}"><h1>AUCTIONS</h1></a>
        </header>
        <form class="form-signin" action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <h2 class="h3 mb-3 font-weight-normal">Log in</h2>
            {% if message %}
                <div>{{ message }}</div>
            {% endif %}
            <div class="form-group">
                <input autofocus class="form-control" type="text" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
            {% if request.GET.next %}
                <input type='hidden' name='next' value={{ request.GET.next }}>
            {% endif %}

            <span id='toggle'>Don't have an account? 
                {% if request.GET.next %}
                        <a href="{% url 'register' %}?next={{ request.GET.next }}">Register here.</a>
                {% else %}
                    <a href="{% url 'register' %}">Register here.</a>
                {% endif %}
            </span>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>