{% extends "auctions/layout.html" %}

{% block body %}

<h2 class='page-header my-account'>My Account</h2>

<div class='profile-btns'>
    <div>
        <a href="{% url 'i_am_bidding' %}">
            <button class='btn btn-secondary'>I am bidding</button>
        </a>
    </div>
    <div>
        <a href="{% url 'my_wins' %}">
            <button class='btn btn-secondary'>Won auctions</button>
        </a>
    </div>
    <div>
        <a href="{% url 'dont_won' %}">
            <button class='btn btn-secondary'>Not won</button>
        </a>
    </div>
    <div>
        <a href="{% url 'my_listings' %}">
            <button class='btn btn-secondary'>My listings</button>
        </a>
    </div>
    <div>
        <a href="{% url 'logout' %}">
            <button class='btn btn-secondary'>Logout</button>
        </a>
    </div>
</div>

{% endblock %}