{% extends "auctions/layout.html" %}

{% block body %}

    <h2 class='page-header'>Register</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="Email Address">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
        </div>
        <input class="btn btn-primary" type="submit" value="Register">
        {% if request.GET.next %}
            <input type='hidden' name='next' value={{ request.GET.next }}>
        {% endif %}
    </form>

    Already have an account? 
    {% if request.GET.next %}
        <a href="{% url 'login' %}?next={{ request.GET.next }}">Log In here.</a>
    {% else %}
        <a href="{% url 'login' %}">Log In here.</a>
    {% endif %}

{% endblock %}